<ion-content class="register-container">
  <div class="register-header">
    <h1 class="title">Create Account</h1>
    <p class="callout">Create an account so you can manage all your tasks</p>
  </div>
  <form>
    <ion-input class="custom register-inputs" type="text" placeholder="Email"></ion-input>
    <div class="input-container">
      <ion-input class="custom register-inputs" type="text" placeholder="Password"></ion-input>
      <ion-icon size="large" color="secondary" slot="start" name="eye-outline"></ion-icon>
    </div>

    <div class="input-container">
      <ion-input class="custom register-inputs" type="text" placeholder="Confirm Password"></ion-input>
      <ion-icon size="large" color="secondary" slot="start" name="eye-outline"></ion-icon>
    </div>

    <ion-button (click)='register()' expand='full'>
      Sign up
    </ion-button>
  </form>

  <div class="sociales">
    <div class="other">
      <div class="line line-left"></div>
      OR
      <div class="line line-right"></div>
    </div>

    <div class="sign-socials">
      <div class="social">
        <img src="./assets/icon/google.svg" alt="google login" />
      </div>
      <div class="social">
        <img src="./assets/icon/facebook.svg" alt="google login" />
      </div>
      <div class="social">
        <img src="./assets/icon/apple.svg" alt="apple login" />
      </div>
    </div>

    <p class="footnote center">
      <ion-text> Don't have an account? </ion-text>
      <ion-text class="signin-link" color="primary"> Sign In </ion-text>
    </p>
  </div>
</ion-content>