<ion-content class="register-container">
  <div class="register-header">
    <h1 class="title">{{ 'createAccount' | translate }}</h1>
    <p class="callout">{{ 'createAccountDet' | translate }}</p>
  </div>
  <form [formGroup]="registerForm">
    <ion-input 
      formControlName="email" 
      class="custom register-inputs" 
      type="text" placeholder="Email" 
      [ngClass]="{ 'input-error': isInvalidField(registerForm.controls['email']) }"></ion-input>
    <div class="input-container">
      <ion-input 
        formControlName="password" 
        class="custom register-inputs" 
        type="password" 
        placeholder="Password"
        [ngClass]="{ 'input-error': isInvalidField(registerForm.controls['password']) }"
        ></ion-input>
    </div>
    <div>
      <div class="input-container">
        <ion-input 
          formControlName="confirmPassword" 
          class="custom register-inputs" 
          type="password" 
          placeholder="Confirm Password"
          [ngClass]="{ 'input-error': isInvalidField(registerForm.controls['confirmPassword']) }"
          ></ion-input>
      </div>
      @if(registerForm.controls['confirmPassword'].touched && registerForm.errors?.['PasswordNoMatch']) {
        <p class="error-msj">{{ 'passwordNotMatch' | translate }}</p>
      }
    </div>
    <ion-button (click)='registerUser()' expand='full'>
      {{ 'signUp' | translate }}
    </ion-button>
  </form>

  <div class="sociales">
    <div class="other">
      <div class="line line-left"></div>
      {{ 'or' | translate }}
      <div class="line line-right"></div>
    </div>

    <div class="sign-socials">
      <div class="social">
        <img src="./assets/icon/google.svg" alt="google login" />
      </div>
    </div>

    <p class="footnote center">
      <ion-text> {{ 'alreadyHaveAccount' | translate }} </ion-text>
      <ion-text class="signin-link" color="primary"> {{ 'signIn' | translate }} </ion-text>
    </p>
  </div>
</ion-content>