<ion-content class="register-container">
  <div class="register-header">
    <h1 class="title">Login</h1>
  </div>
  <form [formGroup]="loginForm">
    <ion-input
      formControlName="email"
      class="custom register-inputs"
      type="text" placeholder="Email"
      ></ion-input>
    <div class="input-container">
      <ion-input
        formControlName="password"
        class="custom register-inputs"
        type="password"
        placeholder="Password"
        ></ion-input>
    </div>
    <ion-button  expand='full'>
      Sign in
    </ion-button>
  </form>

  <div class="sociales">
    <div class="other">
      <div class="line line-left"></div>
      OR
      <div class="line line-right"></div>
    </div>

    <div class="sign-socials">
      <div class="social">
        <img src="./assets/icon/google.svg" alt="google login" />
      </div>
      <div class="social">
        <img src="./assets/icon/facebook.svg" alt="google login" />
      </div>
      <div class="social">
        <img src="./assets/icon/apple.svg" alt="apple login" />
      </div>
    </div>

    <p class="footnote center">
      <ion-text> Do you have an account? </ion-text>
      <ion-text class="signin-link" color="primary"> Sign up </ion-text>
    </p>
  </div>
</ion-content>
